body{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
.image{
  padding: 5px;
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
}
.container{
  width: 1024px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}