.slide-container{
  margin: auto;
  width: 50%;
  margin-top: 70px;
  h5{
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
  }
}
.container-btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
}
.container-word{
  display: grid;
  grid-template-rows: 3fr;
  border: 1px solid blue;
  width: 80%;
  margin: auto;
  padding: 10px;
}
.translate{
  background-color: rgba(80, 80, 225, 0.5);
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  width: min-content;
  padding: 10px 20px;
  margin: auto;
}

.word{
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 30px;

}

.language{
  width: 50%;
  margin: 10px auto;
  font-size: 1.2em;
  color: aliceblue;
  background-color: rgba(80, 80, 225, 0.5);
  .btn{
    padding: 5px;
  }
}
.container-btn.result{
  background-color: rgba(80, 80, 225, 0.5);
  color: aliceblue;
  width: 80%;
  margin: auto;
  padding: 10px 20px;
}

.chosen{
  background-color: #5050e1;
}
.container-word .image{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}