<div class="all_page">
        <form action="http://127.0.0.1:3000/auth/login" class="form_auth" method="post">
            <h2>Login</h2>
            <label for="name">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="text" name="password">
            <button type="submit">login</button>
        </form>
</div>