<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/auth.css' />
    <link rel='stylesheet' href='/stylesheets/word.css' />
    <link rel='stylesheet' href='/stylesheets/edit.css' />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css" rel="stylesheet" />
  </head>
  <body>
    {{{body}}}
  <script src="/javascripts/auth.js"></script>
  <script async  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>
