.card-result{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  .text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .rightAnswer{
      color: darkgreen;
      font-weight: bold;
    }
    .userAnswer{
      color: darkred;
    }
    h1{
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
  .image{
    //margin: 5px;
  }
}

.correct{
  border: 3px solid lightgreen;
}

.incorrect{
  border: 3px solid lightcoral;
}