
@media (max-width: 400px) {
  nav{
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100%;
    box-sizing: border-box;
  }

  .container{
    width: auto !important;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    .image{
      height: 100px;
    }
  }

}