nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  z-index: 12;
}
