.story {
  margin-bottom: 30px;
  margin-top: 30px;
}

.addToVocabulary {
  transition: 0.5s;
  font-weight: bold;
}
.addToVocabulary:hover {
  transition: 0.5s;
  color: #5050e1;
  font-weight: bold;
  cursor: pointer;
}

.paragraph {
  width: 70%;
  margin: 20px auto;
}
.paragraph .sentence {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.paragraph .translate {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.56);
}
