@media (max-width: 400px) {
  nav {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100%;
    box-sizing: border-box;
  }
  #create-test {
    margin: 0;
  }
  .container {
    width: auto !important;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
  .container .image {
    height: 100px;
  }
  .container .example-from {
    display: none;
  }
  .container .container-create-test {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
  .container .container-create-test label {
    padding: 3px !important;
  }
  .container .block {
    display: flex;
    flex-direction: column;
  }
  .container .block .word {
    text-align: center;
  }
}
