.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 0;
  padding: 5px;
  border: 1px solid lightseagreen;
  border-radius: 5px;
}
.result button {
  margin: 0;
}

.type-text, .type-radio {
  padding: 3px 15px 3px 15px;
  display: inline-block;
  border-radius: 30%;
}

.type-radio {
  background-color: lightgreen;
}

.type-text {
  background-color: lightsalmon;
}
